* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
}


.app {
  display: flex;
  flex-direction: column;
}


nav {
  display: flex;
  width: 100vw;
  height: 7vh;
  position: fixed;
  background-color: black;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

nav a {
  text-decoration: none;
  color: white;
}